<div>
  <img [src]="logoUrl" class="logo" />

  <div class="login-form">
    <div class="heading">Добро пожаловать!</div>
    <div class="sub-heading">Введите логин и пароль, чтобы войти в систему</div>

    <div>
      <tui-input
        [tuiHintContent]="hint"
        class="input"
        [formControl]="loginControl"
      >
        Логин
      </tui-input>
      <tui-input-password class="input" [formControl]="passwordControl">
        Пароль
      </tui-input-password>

      <div *ngIf="isFormInvalid && isFormTouched" class="error-text">
        Поля логин и пароль должны быть заполнены
      </div>

      <button
        size="m"
        tuiButton
        type="submit"
        class="tui-space_top-2"
        [disabled]="isFormInvalid"
        (click)="login()"
      >
        Войти
      </button>
    </div>
  </div>
</div>

<ng-template #hint>
  <div>
    Если у вас нет аккаунта, обратитесь к своему преподавателю или
    администратору системы
  </div>
</ng-template>
