:host {
  display: block;
  background-color: var(--tui-base-02);
  height: 100%;

  @media (max-width: 350px) {
    width: fit-content;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--tui-base-02);

  @media (min-width: 1050px) {
    padding-top: 30px;
    width: 1024px;
  }
}
